<p>Welcome to your new game </p>

<!-- Show the scorecard

Course
Holes 1 - 18
Yardages 1 - 18
Par 1 - 18
Men's Handicap 1 - 18
Women's Handicap 1 - 18

 -->
<%= @round.course[:name] %>

<table>
  <thead>
    <tr>
      <th width="150">Hole</th>
        <% @round.scores.each do |score| %>
          <th width="10"><%= score[:hole_id] %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Score</td>
      <td><% @round.scores.each do |score| %>
            <td>
              <% if score == nil %>
                    <p> Add / Edit </p>
              <% else %>
                    <%= score[:score] %> 
              <% end %>
            </td>
          <% end %>
      
      
     
    </tr>

    <tr>
      <td>Tee: <%= @round.tee[:colour].capitalize %></td>

      <td><%# @round.yardage.each do |yardage| %>
        
        <%# end %>

      <td>#</td>
      <td>#</td>
    </tr>

    <tr>
      <td>Handicap</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
    <tr>
      <td>Par</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
  </tbody>
</table>