<p>Welcome to your new game </p>

<!-- Show the scorecard

Course
Holes 1 - 18
Yardages 1 - 18
Par 1 - 18
Men's Handicap 1 - 18
Women's Handicap 1 - 18

 -->
<%= @round.course[:name] %>

<table>
  <thead>
    <tr>
      <th width="150">Hole</th>
        <% @round.scores.each do |score| %>
          <th width="10"><%= score.hole[:hole_number] %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Score</td>
        <% @round.scores.each do |score| %>
            <td>
              <%# if score == nil %>
                    <p> <%= link_to "Add Score", new_player_round_score_path(@player, @round) %></p>
              <%# else %>
                    <%#= score[:score] %> 
              <%# end %>
            </td>
          <% end %>
      
      
     
    </tr>

    <tr>
      <td>Tee: </td>

      <td></td>

      <td>#</td>
      <td>#</td>
    </tr>

    <tr>
      <td>Handicap</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
    <tr>
      <td>Par</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
  </tbody>
</table>