<h1>Introducing Golf Keeper </h1>
<p> <%= link_to "Sign Up", new_player_path %> or <%= link_to "Login", new_session_path %></p>
<p> Live Scoreboard </p>

<p> Live Leaderboard </p>

<p> Manage Your Games </p>

<p> Courses Available </p>

<p> <% @courses.each do |course| %> </p>
<ul> <%= link_to course[:name], '/courses/#{course.id}' %> </ul>
<% end %>
