<div class="image-wrap">
  <div class="hero-image">
  </div>  
</div>

<div class="hero-content">
  <div class="hero-copy">
    <h1> Golf, a better way.</h1>
    <h2> Bring your game experience to the next level.</h2>
      <% unless signed_in?  %>
          <h4> <%= link_to "Sign Up", new_player_path %> <span id= "link"> or </span> <%= link_to "Login", new_session_path %></h4>
      <% end %>
  </div>
</div>


<div class="features">       
  <p> Scorecard | Statistics | Head-to-Head </p>
</div>
