<div class="image-wrap">
  <div class="hero-image">
  </div>  
</div>

<div class="hero-content">
  <h1 class="title"> Bring your game experience to the next level.</h1>
    <% unless signed_in?  %>
        <h4> <%= link_to "Sign Up", new_player_path %></h4>
    <% end %>
</div>

<p class="features"> Scorecard | Statistics | Head-to-Head </p>

