<p> Course Stats </p>

<table>
	<thead>
		<% @course.each do |course| %>
			<tr>	
				<th width="150"> <%= course.name %></th>
				<th width="50"> Overall </th>
				<th width="50"> Average </th>
				<th width="50"> Your Overall </th>
				<th width="50"> Your Average </th>
				<th width="50"> Your Rank </th>
			</tr>
		<% end %>
	</thead>
	<tbody>
		<% @course.each do |course| %>
			<tr>
				<th>Best Score </th>
					<td> <%= course.course_best_score %> </td>
					<td> <%= course.course_average_score %> </td>
			</tr>
		<% end %>
		<% @course.each do |course| %>
			<tr>
				<th> Worst Score </th>
					<td> <%= course.course_worst_score %> </td>
			</tr>
		<% end %>
	</tbody>
</table>