<p> Course Stats </p>

<% @course.each do |course| %>

<table>
	<thead>		
			<tr>	
				<th width="150"> <%= course.name %></th>
				<th width="50"> Overall </th>
				<th width="50"> Average </th>
				<th width="50"> Your Overall </th>
				<th width="50"> Your Average </th>
				<th width="50"> Your Rank </th>
			</tr>
		
	</thead>
	<tbody>
		
			<tr>
				<th>Best Score </th>
					<td> <%= course.course_best_score %> </td>
					<td> <%= course.course_average_score %> </td>
					<td> <%#= course.player_best_score %> </td>
			</tr>
		
		
			<tr>
				<th> Worst Score </th>
					<td> <%= course.course_worst_score %> </td>
			</tr>
	</tbody>
</table>

<% end %>