<div class="form-label"><%= f.label :password %></div>
  <%= f.password_field :password %>
    
<div class="form-label"><%= f.label :password_confirmation %></div>
  <%= f.password_field :password_confirmation %>
    
  