<h4> Account Info </h4>
	<p> Username: <%= @player.username %></p>
	<p> Email: <%= @player.email %> </p>
	<p> Handicap Index: <%= @player.handicap_index %> </p>
	<p> Recent Activity: </p>

<!-- Add in player info on their rounds of golf  -->
 




<table>
  <thead>
    <tr>
      <th width="50">Round</th>
      <th width="100">Course</th>
      <th width="50"># Holes</th>
      <th width="50">Score</th>
      <th width="50">Par</th>
      <th width="50">+/-</th>
      <th width="50">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% render @player.rounds %> 
      <!-- <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td> -->
    </tr>
    <tr>
      <td> Round Count </td>
      <td> Course ERB Loop</td>
      <td> Hole ERB Loop </td>
      <td> Score ERB Loop</td>
      <td> Par ERB Loop </td>
      <td> Score Differential</td>
      <td> Date </td>
    </tr>
   	
   	<tr>
      <td> Round Count </td>
      <td> Course ERB Loop</td>
      <td> Hole ERB Loop </td>
      <td> Score ERB Loop</td>
      <td> Par ERB Loop </td>
      <td> Score Differential</td>
      <td> Date </td>
    </tr>
  </tbody>

</table>


<h4> <%= link_to "Start a new round", new_player_round_path(@player) %> </h4>