	
<p> <%= @player.username %>, welcome to Score Keeper! </p> 


<h4> Account Info </h4>
	<p> Username: <%= @player.username %></p>
	<p> Email: <%= @player.email %> </p>
	<p> Recent Activity: </p>

<!-- Add in player info on their rounds of golf  -->
		


	

