<p> Your new match: </p>

<p> Course: <%= @match.course.name %></p>
<p> Tee: <%= @match.tee.colour %> </p>

<p> <%= link_to "Add players to your match.",  new_player_match_player_match_path(@player, @match)%> </p>

  