<div class="nested-fields">
	<div class="field">
		<%= f.label :colour, "Tee Colour" %>
		<%= f.text_field :colour %>
	</div>
	<br>
	
	<div class="field">
		<%= link_to_remove_association "Remove Tee", f %>
	</div>
</div>