<div class="nested-fields">
	<div class="field">
		<%= f.label :colour %>
		<%= f.text_field :colour %>
	</div>
	<br>
	
	<div class="field">
		<%= link_to_remove_association "remove tees", f %>
	</div>
</div>