<table>
  <thead>
    <tr>
      <th width="25">Hole</th>
      <th width="25">Score</th>
      <th width="30">Tee:<%= @match.rounds.first.tee.colour.capitalize %> </th>
      <th width="25">Par</th>
    </tr>
  </thead>


  <tbody>
    <% @match.course.holes.where("gender = ?", "m").each do |hole| %>
      <tr>
          <td><%= hole.hole_number %></td>
      </tr>   
    <% end %> 
  </tbody>  
</table>
