<table>
  <thead>
    <tr>
      <th width="150">Hole</th>
        <% @match.course.holes.where("gender = ?", "m").each do |hole| %>
          <th width="10"><%= hole.hole_number %></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @match.joined_players.each do |player| %>
      <tr>
        <th> <%= player.username %> </th>
    <% end %>           
      <th> <%= @match.match_player %></th>    
      </tr>
      <tr>
          
      </tr>
  </tbody>
</table>

