// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-wrap {
  background: black;
  display: inline-block;
  line-height: 0;
  position: absolute;

  .hero-image {
    opacity: 0.9;
    content: asset-url("home_hero.jpg");
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.hero-content {
  margin-top: 250px;
  position: relative;
  text-align: center;
  z-score: 1;
}

  
h1 {
  color: #E2F1F2;
  line-height: 1.25;
  font-weight: 200;
  letter-spacing: 0.015em;
  text-shadow: 2px 2px #000000;


.title {
  font-size: 40px;
}

h4 {
font-size: 25px;
}

span#link {
    color: #E2F1F2;
  }
}

.features {
  position: relative;
  text-align: center;
  z-score: 1;
  font-size: 18px;
  color: #E2F1F2;
  text-shadow: 2px 2px #000000;
}



@media screen and (max-width: 1024px) {
  .image-wrap {
  left: 50%;
  margin-left: -512px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 20px;
  }
  .features {
    font-size: 12px;
  }
}