// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-wrapper{
  padding:10px;
  margin-top: 25px;
  border:1px solid #021a40;

  .profile_pic  {
    text-align: center;
  }

  .profile_content  {
    padding: 100px;
    border:1px solid #021a40;
  }

  .profile_links{

  }

  p {
    font-size: 12px;
    margin: 0.5px;
  }
}

.round-summary, .ranking-summary{
 padding:10px;
 margin-top: 15px;

 tr {
  height: 15px;
 }

 th {
  font-size: 12px;
  text-align: center;
 }

 td {
  font-size: 12px;
  margin: 0px;
  text-align: center;
 }
}

#legend {
  font-size: 9px;
}

.form-gender {
  display: inline-block;
}

