// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.round-wrapper {
  padding:10px;
  margin-top: 25px;
  border:1px solid #021a40;

  p {
    font-size: 12px;
    margin: 0.5px;
  }
}

.status-input{
  color: #008cba;
  font-size: 12px;
}
