<%# navigation styled for Zurb Foundation 5 %>
<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
    	<li class="name">
    		<h1><%= link_to "Golf Keeper", home_index_path %></h1>
    	</li>
    </ul>
    <div class="top-bar-section">
      <%= render 'layouts/navigation_links' %>
    </div>
  </nav>
</div>